<footer class="w-full h-16 mt-24">
  <div class="mx-3 xl:mx-auto max-w-[1280px] h-full flex justify-center items-center">
    <div class="flex gap-8">
      <a href="mailto:justin.gj.white@gmail.com" class="text-caption text-black opacity-40 hover:opacity-75 transition-opacity">Email</a>
      <a href="https://www.linkedin.com/in/justin-white-68366724/" target="_blank" rel="noopener noreferrer" class="text-caption text-black opacity-40 hover:opacity-75 transition-opacity">LinkedIn</a>
      <a href="https://x.com/justinwhitexyz" target="_blank" rel="noopener noreferrer" class="text-caption text-black opacity-40 hover:opacity-75 transition-opacity">Twitter</a>
      <a href="https://github.com/jgjwhite" target="_blank" rel="noopener noreferrer" class="text-caption text-black opacity-40 hover:opacity-75 transition-opacity">Github</a>
    </div>
  </div>
</footer> 