---
interface Props {
  title?: string;
  subtitle?: string;
  items: Array<{
    label: string;
    value: string;
  }>;
}

const { title, subtitle, items } = Astro.props;
---

<div class="sub-list-component max-w-[960px] mx-auto">
  <hr class="border-t border-gray-300 w-full" />
  <div class="sub-list-inner flex flex-col md:flex-row gap-6 md:gap-12 mt-6">
    <div class="md:w-1/2 w-full flex flex-col">
      {title && <div class="text-h2 mb-1 md:mb-2">{title}</div>}
      {subtitle && <div class="text-body" style="color: #838383">{subtitle}</div>}
    </div>
    <div class="md:w-1/2 w-full">
      <div class="flex flex-col">
        {items.map((item) => (
          <div class="mb-6 last:mb-0">
            <div class="text-body" style="color: #838383">{item.label}</div>
            <div class="text-body mt-1">{item.value}</div>
          </div>
        ))}
      </div>
    </div>
  </div>
</div>

<style>
.sub-list-component hr {
  margin-bottom: 24px;
}
@media (max-width: 640px) {
  .sub-list-inner .text-h2 {
    margin-bottom: 4px !important;
  }
}
</style> 