---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/shared/Navbar.astro';
import Thumbnail from '../components/Thumbnail.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Justin White - Portfolio</title>
	</head>
	<body>
		<Layout title="Justin White - Portfolio">
			<Navbar />
			<main>
				<div class="mt-20 max-w-[700px] mx-auto text-center">
					<h1 class="font-neuecorp font-normal text-[1.65rem] leading-[105%] md:text-[2.5rem] md:leading-[105%] xl:text-[3rem] xl:leading-[95%]">
						Product Designer specialized in designing <span class="font-pangaia italic">complex workflows</span>
					</h1>
					<p class="mt-1 md:mt-4 text-gray-500 text-[14px] leading-[16px]">
						Previously designed for teams at Meta, Lululemon and Ecobee.
					</p>
				</div>
				<div class="mt-12 grid grid-cols-1 sm:grid-cols-2 gap-4">
					<a href="/ownright" class="block text-black">
						<Thumbnail imgSrc="/assets/thumbnails/Thumbnail-ownright.webp" alt="Ownright Thumbnail" projectName="Internal legal app" accentInfo="Ownright Law" />
					</a>
					<a href="/lululemon" class="block text-black">
						<Thumbnail imgSrc="/assets/thumbnails/Thumbnail-lululemon.webp" alt="lululemon Thumbnail" projectName="Wanderwell" accentInfo="lululemon" />
					</a>
					<a href="/messenger" class="block text-black">
						<Thumbnail imgSrc="/assets/thumbnails/Thumbnail-messenger.webp" alt="Messenger Thumbnail" projectName="Workplace x Messenger" accentInfo="Meta" />
					</a>
					<a href="/bulletins" class="block text-black">
						<Thumbnail imgSrc="/assets/thumbnails/Thumbnail-bulletins.webp" alt="Bulletins Thumbnail" projectName="Workplace Bulletins" accentInfo="Meta" />
					</a>
				</div>
			</main>
		</Layout>
	</body>
</html>
