---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/shared/Navbar.astro';
import Thumbnail from '../components/Thumbnail.astro';
import AboutSection from '../components/AboutSection.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Justin White - Portfolio</title>
	</head>
	<body>
		<Layout title="Justin White - Portfolio">
			<Navbar />
			<main>
				<div class="mt-20 max-w-[700px] mx-auto text-center">
					<h1 class="text-h1-hero">
						Product Designer specialized in designing <span class="text-pangaia-italic">complex workflows</span>
					</h1>
					<p class="mt-1 md:mt-4 text-caption text-gray-500">
						Previously designed for teams at Meta, Lululemon and Ecobee.
					</p>
				</div>
				<div class="mt-12 mb-24 sm:mb-32 md:mb-48 grid grid-cols-1 sm:grid-cols-2 gap-4">
					<a href="/ownright" class="block text-black">
						<div class="relative group aspect-[4/3] bg-gray-200 rounded-[12px] overflow-hidden flex items-center justify-center cursor-pointer border-[5px] border-white">
							<video
								id="ownright-video"
								src="/assets/thumbnails/thumbnail-ownright-interaction.mp4"
								poster="/assets/thumbnails/Thumbnail-ownright.webp"
								class="object-cover w-full h-full transition-transform duration-150 group-hover:scale-[1.02]"
								preload="auto"
								autoplay
								loop
								muted
								playsinline
								disablePictureInPicture
								controlsList="nodownload nofullscreen noremoteplayback"
								tabIndex="-1"
							></video>

							<script>
								const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
								const video = document.getElementById("ownright-video");
							  
								if (isSafari && video) {
								  video.parentNode.replaceChild(
									Object.assign(document.createElement("img"), {
									  src: video.poster,
									  alt: "Ownright Thumbnail",
									  className: video.className,
									}),
									video
								  );
								}
							  </script>

							<div class="absolute inset-0 bg-[rgba(0,0,0,0.03)] opacity-0 group-hover:opacity-100 transition-opacity duration-200"></div>
							<div class="absolute left-3 bottom-3 flex space-x-2 opacity-0 group-hover:opacity-100 transition-opacity duration-200">
								<span class="bg-white border border-gray-200 rounded-[4px] px-2 py-[2px] text-[12px] font-neuecorp font-medium">Internal legal app</span>
								<span class="bg-white border border-gray-200 rounded-[4px] px-2 py-[2px] text-[12px] font-neuecorp font-medium">Ownright Law</span>
							</div>
						</div>
					</a>
					<a href="/lululemon" class="block text-black">
						<div class="relative group aspect-[4/3] bg-gray-200 rounded-[12px] overflow-hidden flex items-center justify-center cursor-pointer border-[5px] border-white">
							<video
								id="lululemon-video"
								src="/assets/thumbnails/thumbnail-lululemon-interaction.mp4"
								poster="/assets/thumbnails/Thumbnail-lululemon.webp"
								class="object-cover w-full h-full transition-transform duration-150 group-hover:scale-[1.02]"
								preload="auto"
								autoplay
								loop
								muted
								playsinline
								disablepictureinpicture
								controlslist="nodownload nofullscreen noremoteplayback"
								tabindex="-1"
								data-thumbnail
							></video>
							<div class="absolute inset-0 bg-[rgba(0,0,0,0.03)] opacity-0 group-hover:opacity-100 transition-opacity duration-200"></div>
							<div class="absolute left-3 bottom-3 flex space-x-2 opacity-0 group-hover:opacity-100 transition-opacity duration-200">
								<span class="bg-white border border-gray-200 rounded-[4px] px-2 py-[2px] text-[12px] font-neuecorp font-medium">Wanderwell</span>
								<span class="bg-white border border-gray-200 rounded-[4px] px-2 py-[2px] text-[12px] font-neuecorp font-medium">lululemon</span>
							</div>
						</div>
					</a>
					<a href="/messenger" class="block text-black">
						<div class="relative group aspect-[4/3] bg-gray-200 rounded-[12px] overflow-hidden flex items-center justify-center cursor-pointer border-[5px] border-white">
							<video
								id="messenger-video"
								src="/assets/thumbnails/thumbnail-messenger-interaction.mp4"
								poster="/assets/thumbnails/Thumbnail-messenger.webp"
								class="object-cover w-full h-full transition-transform duration-150 group-hover:scale-[1.02]"
								preload="auto"
								autoplay
								loop
								muted
								playsinline
								disablepictureinpicture
								controlslist="nodownload nofullscreen noremoteplayback"
								tabindex="-1"
								data-thumbnail
							></video>
							<div class="absolute inset-0 bg-[rgba(0,0,0,0.03)] opacity-0 group-hover:opacity-100 transition-opacity duration-200"></div>
							<div class="absolute left-3 bottom-3 flex space-x-2 opacity-0 group-hover:opacity-100 transition-opacity duration-200">
								<span class="bg-white border border-gray-200 rounded-[4px] px-2 py-[2px] text-[12px] font-neuecorp font-medium">Workplace x Messenger</span>
								<span class="bg-white border border-gray-200 rounded-[4px] px-2 py-[2px] text-[12px] font-neuecorp font-medium">Meta</span>
							</div>
						</div>
					</a>
					<a href="/bulletins" class="block text-black">
						<div class="relative group aspect-[4/3] bg-gray-200 rounded-[12px] overflow-hidden flex items-center justify-center cursor-pointer border-[5px] border-white">
							<video
								id="bulletins-video"
								src="/assets/thumbnails/thumbnail-bulletins-interaction.mp4"
								poster="/assets/thumbnails/Thumbnail-bulletins.webp"
								class="object-cover w-full h-full transition-transform duration-150 group-hover:scale-[1.02]"
								preload="auto"
								autoplay
								loop
								muted
								playsinline
								disablepictureinpicture
								controlslist="nodownload nofullscreen noremoteplayback"
								tabindex="-1"
								data-thumbnail
							></video>
							<div class="absolute inset-0 bg-[rgba(0,0,0,0.03)] opacity-0 group-hover:opacity-100 transition-opacity duration-200"></div>
							<div class="absolute left-3 bottom-3 flex space-x-2 opacity-0 group-hover:opacity-100 transition-opacity duration-200">
								<span class="bg-white border border-gray-200 rounded-[4px] px-2 py-[2px] text-[12px] font-neuecorp font-medium">Workplace Bulletins</span>
								<span class="bg-white border border-gray-200 rounded-[4px] px-2 py-[2px] text-[12px] font-neuecorp font-medium">Meta</span>
							</div>
						</div>
					</a>
				</div>
				<AboutSection
					title="About"
					content="Senior Product Designer with 7 years of experience across startups, big tech, and agencies. A consistent theme throughout my career has been designing for how people get work done more effectively and more enjoyably. <br /><br />I transitioned into design through the YSDN program, where I completed a degree in design. Since then, I've worked in proptech and construction tech startups, and at an agency where I led design on contracts for Meta and Lululemon. These days, I spend a lot of time thinking about how to better design, test, and measure whether software truly meets, and exceeds, customer needs."
				/>
			</main>
		</Layout>
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
				if (!isSafari) return;

				const videos = document.querySelectorAll('video[data-thumbnail]');
				videos.forEach((video) => {
					if (!(video instanceof HTMLVideoElement)) return;
					
					const parent = video.parentNode;
					if (!parent) return;

					const img = document.createElement('img');
					img.src = video.getAttribute('poster') || '';
					img.alt = video.getAttribute('alt') || "Project Thumbnail";
					img.className = video.className;
					parent.replaceChild(img, video);
				});
			});
		</script>
	</body>
</html>
